@charset "UTF-8";

body {
    background-color: burlywood;
    font: normal 18pt Arial;
}

header {
    color: white;
    text-align: center;
}

main {
    background-color: white;
    max-width: 700px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.503);
}

#lista {
    width: 150px;
    color: yellow;
    background-color: black;
}

footer {
    font-style: italic;
    color: white;
    text-align: center;
    padding: 20px;

}